.container {
  width: 100px;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: red;
  padding: 50px 20px;
}

.content {
  background-color: blue;
  padding: 150px 20px;
}

.footer {
  background-color: red;
  padding: 30px 20px;
}
